.App {
  text-align: center;
  align-items: center;
}

.userInfoForm{
  width: 400px;
  margin: auto;
  align-items: center;
  display: grid;
  grid-template-rows: 65px 30px;
  margin-bottom:  30px;
  margin-top: 25px;
}

.Form-above{
  width: 400px;
  margin: auto;
  align-items: center;
  display: grid;
  grid-template-columns: 200px 200px;
}

.Form-Left{
  width: 200px;
  margin: auto;
  align-items: center;
  display: grid;
  grid-template-rows: 30px 30px;
  margin-bottom: 2px;

}

.Input-Row{
  align-items: center;
  display: grid;
  grid-template-columns: 70px 100px; 
}

.Input-full-Row{
  align-items: center;
  display: grid;
  grid-template-columns: 100px 270px; 
}

.App-header {
  background-color: rgb(85, 66, 134); /*#282c34;*/
  min-height: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
